<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL_.Properties.Settings.stringConexao" connectionString="Data Source=DESKTOP-ORTRKJA\MSSQLSERVER2014;Initial Catalog=CRUDPessoa;User ID=sa;Password=506829"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>